*{
  padding:0;
  margin:0; 
  box-sizing:border-box;
 font-family:sans-serif;  
 overflow-x: hidden;
}


nav{
  display:flex;
  justify-content: center;
  align-items:center;
  padding:15px;
  gap: 9rem;
  background-color:black;
}

nav table, th, tr {
  border:1px solid ;
  border-collapse:collapse ;
  border-spacing:10px;
}

nav table, th, tr a {
  text-decoration: none;
  color:white;
}
nav button{
  width: 15%;
  height: 50px;
  font-weight: 700;
  font-family: Manrope;
  font-size: 20px;
  border: 1px solid white;
  background-color: white;

}


.hero{
  width:100%;
  height:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top:4rem;
  background-color:black;
}

.hero img{
  width: 150px;
  height: 150px;
  position: absolute;
  left: 27%;
  top: 8rem;
}

.hero .text{
  width:70%;
  height: auto;
  display:flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2.5rem;
}

.hero .text1{
  width: 70%;
  height: auto;
  font-size: 2rem;
  color:white;
  display: flex;
  justify-content:center;
}

.hero .text2{
  width: 60%;
  height: auto;
  font-size: 1.5rem;
  color:#B5B4B4;
  display: flex;
  justify-content:center;
}
.hero .text2 h3{
  text-align: center;
  font-weight: lighter;
}

.hero .text h2{
text-align: center;
font-size: 3rem;
}


.hero .text button{
  width: 25%;
  height: 45px;
  font-weight: 700;
  font-family:Manrope;
  font-size: 20px;
  border: 1px solid white;
  background-color: white;

}

.vector{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
}
.vector .image{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color:black;
}
.vector .box{
  width:100%;
  height: auto;
  justify-content: center;
  position:absolute;
  margin: 0 auto;
  display: flex;
  align-items: center;
  bottom:3rem;
  left: 2rem;
  transform: rotate(-10deg);
}
 .vector .box .text{
  width: 250px;;
  height: 35px;
  display: flex;
  align-items: center;
  color: #FEFEFE;
  justify-content: center;
  border-radius: 20px;
  font-size: 20px;
  background-color:#9E9735;
  margin: 0 auto;
} 


.secondpart{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.secondpart .container{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 6rem;
}


.secondpart .theme{
  width:100%;
  height:auto;
  display:flex;
  align-items: center;
  color:white;
  margin-left: 16.5rem;
  margin-top: 2rem;
  
}

.secondpart .text {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  gap:2rem;
}


.secondpart .text .arewe{
  width:100%;
  height:auto;
  display: flex;
  align-items: center;
  color:white;
  padding-bottom: 9rem;
}

.secondpart .text .textbox{
  width:80%;
  height:auto;
  display: flex;
  color: white;
  flex-direction: column;
  gap: 1rem;

}


.speakers{
  width:100%;
  height:650px;
  display:flex;
  flex-direction: column;
  background-color:black;
  padding: 4rem;
}
.speakers .content{
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  gap:10rem;
}

.speakers .content .speaker{
  width:100%;
  height:auto;
  color: white;
  font-size: 1rem;
  left: 22rem;
}
.speakers .content .speaker h1{
  width:40%;
  display: flex;
  position:relative;;
  right:-8rem;
}

.speakers .content .textbox{
  width:35%;
  height:auto;
  display: flex;
  position: relative;;
  left: 8rem;
  padding-top: 3rem;
  text-align: left;
}


.speakers .content .cardbox{
  width:300px;
  height:400px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items:center;
  box-sizing:border-box;
  left: 50rem;
  bottom: -90rem; 
  background: linear-gradient(#181716,#2e2b18, #312c18,#121212);
  border: 2px solid rgba(254, 254, 254, 0.1);
  backdrop-filter: blur(25px);

}

.speakers .content .cardbox .card{
  width:250px;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 0.5rem;
  color: white;
 
}
.speakers .content .cardbox .card caption{
  font-size:2rem;
}

.speakers .content .cardbox .card p{
  color: #FEFEFE80;
  font-weight: 700;
  font-size:15px;

}


.speakers .content .arrow{
  width:120px;
  height:100px;
  display: flex;
  color: white;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  bottom: -90rem; 
  left: 12rem;
}

.speakers .content .arrow .box{
  width:130px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  font-size: 1.5rem;
}




.events{
  width:100%;
  height:650px;
  background-color:#eddd12;
  display:flex ;
}

.events .event{
  width:100%;
  height: auto;
  display:flex;
  flex-direction: column;
  gap:10rem;
}

.events .event .text{
  width:100%;
  height:auto;
  color: black;
  font-size: 1rem;
  left: 22rem;
}




.hackathon{
  width:100%;
  height:600px;
  background-color:black;
}



 
