* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
}

/*  NAV BAR STYLES STARTS HERE  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  gap: 4rem;
  background-color: black;
}

nav table,
th,
tr {
  border: 1px solid;
  border-collapse: collapse;
  border-spacing: 30px;
  transition: 1s;
}

nav tr :hover{
  background-color: #eddd12;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.2);
  border-radius: 20px;
}


nav table,
th,
tr a {
  text-decoration: none;
  color: white;
  padding:10px 5px;
  transition: 1s;
 
}
nav table,
th,
tr a:hover{
  color: black;
}

nav button {
  width: 15%;
  height: 50px;
  font-weight: 700;
  font-family: Manrope;
  font-size: 20px;
  border: 1px solid white;
  background-color: white;
  transition: 1s;

}

nav button:hover {
  background-color: #eddd12;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  border-radius: 20px;
}


/*  NAV BAR STYLES ENDS HERE  */

/* HERO SECTION STYLES STARTS HERE */

.hero {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  background-color: black;
}



.hero img {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 27%;
  top: 8rem;
}

.hero .text {
  width: 70%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.hero .text1 {
  width: 70%;
  height: auto;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
}

.hero .text2 {
  width: 60%;
  height: auto;
  font-size: 1.5rem;
  color: #B5B4B4;
  display: flex;
  justify-content: center;
}

.hero .text2 h3 {
  text-align: center;
  font-weight: lighter;
}

.hero .text h2 {
  text-align: center;
  font-size: 3rem;
}


.hero .text button {
  width: 20%;
  height: 60px;
  font-weight: 700;
  font-family: Manrope;
  font-size: 20px;
  border: 1px solid white;
  background-color: white;
  transition: 1s;

}

.hero .text button:hover {
  background-color: #eddd12;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1);
  border-radius: 20px;
}


/* HERO SECTION STYLES ENDS HERE */

.vector {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vector .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.vector .box {
  width: 100%;
  height: auto;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  display: flex;
  align-items: center;
  bottom: 1rem;
  left: 2rem;
  transform: rotate(-10deg);
}

.vector .box .text {
  width: 250px;
  height: 35px;
  display: flex;
  align-items: center;
  color: #FEFEFE;
  justify-content: center;
  border-radius: 20px;
  font-size: 20px;
  background-color: #9E9735;
  margin: 0 auto;
}

/*  SECONDPART STYLES STARTS HERE */

.secondpart {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.secondpart .container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 6rem;
}


.secondpart .theme {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  margin-top: 2rem;

}

.secondpart .text {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  gap: 2rem;
}


.secondpart .text .arewe {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  color: white;
  padding-bottom: 9rem;
}

.secondpart .text .textbox {
  width: 80%;
  height: auto;
  display: flex;
  color: white;
  flex-direction: column;
  gap: 1rem;
  line-height: 20px;

}


/*  SPEAKERS SECTIONS  STYLES STARTS  HERE  */

.speakers {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 4rem;
}

.speakers .bg{
  width: auto;
  height: auto;
  position: absolute;
  display: flex;
  right: 2rem;
  margin-top: -3rem;
}


.speakers .content {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content:center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.speakers .content .speaker {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 300px;
  color: white;
  font-size: 1rem;
}
.speakers .content .speaker h1{
  padding-bottom: 1rem;
  font-size: 2rem;
  width: 30%;
  height: 120px;
}


.speakers .content .textbox {
  width: 50%;
  height: 200px;
  display: flex;
  padding-top: 3rem;
  line-height: 25px;
  text-align: left;
 
}


.speakers .content .cardbox {
  width: 300px;
  height: 400px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  right: 15rem;
  margin-top: 10rem;
  background: linear-gradient(#181716, #2e2b18, #312c18, #121212);
  border: 2px solid rgba(254, 254, 254, 0.1);
  backdrop-filter: blur(25px);
}

.speakers .content .cardbox .card {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;

}

.speakers .content .cardbox .card caption {
  font-size: 2rem;
}

.speakers .content .cardbox .card p {
  color: #FEFEFE80;
  font-weight: 700;
  font-size: 15px;

}


.speakers .content .arrow {
  width: 150px;
  height: 150px;
  display: flex;
  color: white;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 17rem;

}


.speakers .content .arrow .box:hover {
  background-color: #eddd12;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  overflow-x: hidden;
  color:black

}


.speakers .content .arrow .box {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid white;
  font-size: 1.5rem;
    transition: 1s;
}

/*  SPEAKERS SECTIONS  STYLES STARTS  ENDS */



/* EVENTS SECTIONS STYLES  STARTS  HERE */

.events {
  width: 100%;
  height: 650px;
  background-color: #eddd12;
  display: flex;
}

.events .event {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
 

}

.events .event .eventup {
  padding-top: 6rem;
  width: 80%;
  height: auto;
  color: black;
  font-size: 1rem;
  margin: 0 auto;
}

.events .event .eventup .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  font-size: 1.8rem;
  font-weight: bold;
}

.events .event .eventup .text button {
  width: 190px;
  height: 55px;
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  top: -10px;
}

.events .event .eventup .textbox {
  width: 60%;
  margin-top: 3rem;
  font-size: 20px;
}


.events .event .eventdown {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  gap: 5rem;
  margin-top: 5rem;
}

.events .event .eventdown .eventDownYellow{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5.5rem;
}

.events .event .eventdown .eventDownBlack{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  position: relative;
  left: 6rem;
}

.events .event .eventdown .eventDownYellow .calbox{
  width: 300px;
  height:95px;
  background-color:#9E9735;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.events .event .eventdown .eventDownBlack .calbox{
  width: 300px;
  height:95px;
  background-color:#030303;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.events .event .eventdown .calbox .calendar{
  width: auto;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  padding: 10px 20px;
}

.events .event .eventdown .calbox .calendar .cal{
  width: auto;
  height: auto;
  display: flex;
  flex-direction:row;
  gap: 0.5rem;
  font-size: 20px;
}
.events .event .eventdown .calbox .calendar .cal h4{
  color:#e0e0e0;
  font-weight: 100;
}
.events .event .eventdown .calbox .calendar .cal i{
  color:#FFF251;
}
.events .event .eventdown .calbox .calendar p{
  color:#fdfafa;
}

/* EVENTS SECTIONS STYLES  ENDS  HERE */


/* HACKATHON  STYLES SECTIONS STARTS HERE */

.hackathon {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
} 

.hackathon .hacktext{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}
.hackathon .hacktext .event{
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -1rem;
}


.hackathon .hacktext .event .text{
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;

}


.hackathon .hacktext .event .text button{
width: 190px;
height: 55px;
font-size: large;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
border: none;
}

.hackathon .hacktext .event .textbox{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 3rem;
  gap: 7rem;
}

.hackathon .hacktext .textbox p{
  width: 60%;
  font-size: 17px;
  text-align: left;
  line-height: 27px;   
}


.hackathon .hacktext .bg{
  width: auto;
  height: auto;
  position: relative;
  display: flex;  
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  
}

.hackathon .hacktext .bg img{
  width: 700px;
  height:700px;
}

.hackathon .hacktext .boxgroup{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  align-items: center;
  left: 4px;
  margin-top: 15rem;
}

.hackathon .hacktext .boxgroup .firstbox{
  width: 100%;
  height:auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  position: relative;
  left: 12rem;
  margin-top:6rem;

}

.hackathon .hacktext .boxgroup  .box{
  width: 250px;
  height:50px;
  display: flex;
  background: red;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 15px;
  border-radius: 20px;
  gap: 0.5rem;
}

.hackathon .hacktext .boxgroup  .box i{
  font-size:1.5rem;
}


.hackathon .hacktext .boxgroup .secondbox{
  width: 100%;
  height:auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  position: relative;
  left: -9rem;
  margin-top: 15rem;
}

.hackathon .hacktext .sponsors{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4rem;
}

.hackathon .hacktext .sponsors .textbox{
  width: 80%;
  height: auto;
  display:flex;
  flex-direction: column;
  color: white;
}
.hackathon .hacktext .sponsors .textbox h1{
  font-size: 3rem;
}
.hackathon .hacktext .sponsors .textbox p{
  width:350px;
  font-size: 1.3rem;
  margin-top: 3rem;
}

.hackathon .hacktext .sponsors table {
  margin-top: 2rem;
  height: 400px;
}
.hackathon .hacktext .sponsors table tr th{
  width: 60%;
  margin-top: 1rem;
  height: auto;
  color: white;
}


.hackathon .hacktext .sponsors 
  table,
th,
tr {
  border: 1px solid;
  border-collapse: collapse;
  border-spacing: 5px;
  padding: px;
  justify-content: center;

  /* height: 90px; */
  /* width: 700px; */
}

/* HACKATHON  STYLES SECTIONS ENDS HERE */


/* FAQ SECTIONS STYLES STARTS  HERE */

.faqsection{
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  #e7dc0e;
}

.faqsection .faqbox{
  width: 80%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.faqsection .faqbox .text{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin-bottom: 1rem;
}
.faqsection .faqbox .text h1{
  font-size:  3rem;
  font-weight: bold;
}

.faqsection .faqbox .text button{
width: 190px;
height: 55px;
font-size: large;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
border: none;
}

.faqsection .faqbox .textbox{
  width: 500px;
  margin-top: 2rem;
  font-size:1.2rem;
}

.faqsection .massagebox{
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.faqsection .massagebox .box{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-color: black;
  color:white;
}
.faqsection .massagebox .box .text{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  font-weight: 700;
}

.faqsection i{
  font-size: 2rem;
}


.faqsection .massagebox .box .ptag{
  width: auto;
  height: auto;
  padding: 30px 50px;
  font-weight: lighter;
  line-height: 25px;   

}

.faqsection .box1{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.faqsection .box1 .text{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color:white;
  padding: 20px 50px;
 font-size: 1.3rem;
}

/* FAQ SECTIONS STYLES ENDS  HERE */


/* FOOTER SECTIONS STYLES STARTS  HERE */


footer{
  width: 100%;
  height:650px;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
 gap: 3rem;
}
footer .header{
  margin-top: 4rem;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .header .contact {
  width: 33%;
  height: auto;
  color: white;
  font-size: 1.3rem;
}
footer .header .home{
  width: auto;
  height: auto;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: white;
}
footer .header .home a{
  text-decoration: none;
  color: white;
}

footer .image{
  width: auto;
  height: auto;
  display: flex;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

footer .footer{
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}

footer .footer .text{
  width: auto;
  height: auto;
  color: #c8c8c8;
}

footer .footer .policy{
  width: auto;
  height: auto;
  color:white;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* FOOTER SECTIONS STYLES ENDS  HERE */



/* MEDIA QUEERY STARTS HERE */

@media screen and (max-width: 1024px) and (min-width:700px){
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    gap: 3rem;
    background-color: black;
  }
  
nav  img{
  padding-left:1rem;
  width: 600px;
  height: 55px;
  
}
  nav button {
    width: 60%;
    height: 30px;
    font-weight: 700;
    font-family: Manrope;
    font-size: 13px;
    padding: 2px 2px;

  }

.hero .text1  {
  width: 70%;
  font-size: 1rem;

}

.hero .text1 h1 {
  font-size: 1rem;
}

.hero .text button {
  width: 40%;
}

.vector .box {
  width: 100%;
  height: auto;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  display: flex;
  align-items: center;
  left: 1rem;
  top: 25rem;
  transform: rotate(-10deg);

}

.secondpart .text {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;

}

.secondpart .text .arewe{
  margin-bottom: 6rem;
}

.secondpart .text .textbox {
  margin-bottom: 1rem;
  line-height: 21px;
}

.speakers .content .speaker {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 10rem
}
.speakers .content .speaker h1{
  font-size: 2rem;
  width: auto;
  position: absolute;
}

.speakers .content .textbox {
  width: 70%;
  height: auto;
  display: flex;
  position: absolute;
}

.speakers .content .cardbox{
  margin-bottom: -5rem;
}

.speakers .content .arrow {
  margin-bottom: 7rem;
}

.speakers .content .cardbox {
  margin-top: 3rem;
}

.speakers .content .arrow {
  margin-bottom: -1.5rem;
  right: -0.3rem;
}

.events .event .eventdown {
  gap: 2rem;
  margin-top: 2rem;
}

.events .event .eventdown .eventDownYellow {
  gap: 1rem;
  padding: 20px;
}
.events .event .eventdown .eventDownBlack {
  gap: 1rem;
  padding: 20px;
  left:0;
}

.hackathon .hacktext .boxgroup{
  left: -1px;
  margin-top:13rem;
}
.hackathon .hacktext .boxgroup .firstbox{
  left:8rem;
  margin-top: 20rem;
}

 .hackathon .hacktext .boxgroup .secondbox{
  gap: 15rem;
  margin-top:9rem;
}  
}


@media screen and (max-width: 700px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;

  }
  body{
    background-color: black;
  }
  .hero {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .hero .text  {
    width: 100%;
  }

  .hero .text1  {
    width: 100%;
    padding: 0 3px;

  }
  .hero .text1  h2{
    width:100%;
    font-size: 2rem;
  }
  .hero img {
    width: 70px;
    height:70px;
    left:0;
    top: 9.5rem
  }
  .hero .text2 {
    width: 100%;
    padding: 1px 2px;
  }

.hero .text button {
  width: 50%;
}
  
.vector {
  height: 230px;
}


.vector .box {
  bottom: 10rem;
  left: -1rem;


}

.secondpart {
  flex-wrap: wrap;
  height: auto;
}

.secondpart .container .vector{
  height:1px;
}
.secondpart .text {
  flex-wrap: wrap;
}

.secondpart .text .arewe {
  padding-bottom: 0;

}


.speakers {
  padding:1rem;
}


.speakers .bg{
  display: none;
}

.speakers .content {
  align-items: center;
  margin-bottom: 0;
}

.speakers .content .speaker {
  width: 100%;
}

.speakers .content .speaker h1{
  width: auto !important;
}
.speakers .content  .vector{
  height: 1px;
}
.speakers .content .textbox {
  width:100%;
  padding-top: 0;
  margin-bottom: 8rem;
}

.speakers .content .cardbox {
  left:2.5rem;
  margin-top: 2rem;
  align-items: center;
}


.events {
  height: auto;
  
}
.events .event {

  flex-direction: column;
}
.events .event .vector {
  height: 1px;
}
.events .event .eventup {
  padding-top: 2rem;

}
.events .event .eventup .text h1 {
  padding-bottom: 1rem;
}

.events .event .eventup .text {
  flex-wrap: wrap;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.events .event .eventup .textbox {
  width: 100%;
  padding-bottom: 2rem;

}


.events .event .eventdown {

  margin-top: 0;
  gap: 1rem;

}

.events .event .eventdown .eventDownYellow{
  flex-wrap: wrap;
  gap: 1rem;
}

.events .event .eventdown .eventDownBlack{
  flex-wrap: wrap;
  left: 0;

  gap:1rem;
}

.hackathon {
  flex-wrap: wrap;
}

.hackathon .hacktext .event .vector{
  height:1px;
}
.hackathon .hacktext .event .text{
  flex-wrap: wrap;
  gap: 1rem;
}
.hackathon .hacktext .event .textbox p{
  width: 100%;
}


.hackathon .hacktext .event .textbox{
  flex-wrap: wrap;
  width:100%;
  gap: 1rem;
}

.hackathon .hacktext .bg img{
  width:500%;
  height:500%;
}

.hackathon .hacktext .boxgroup{

  width: auto;
  left:0;
padding:1rem;
}
.hackathon .hacktext .boxgroup .firstbox{
  gap: 8rem;
  left: 1rem;
}
.hackathon .hacktext .boxgroup  .box{
  width: 250px;
}

.hackathon .hacktext .boxgroup .secondbox{
  gap: 8rem;
  margin-left: -2rem;
}
.hackathon .hacktext .sponsors .textbox{
  margin-top: 2rem;
}
.hackathon .hacktext .sponsors .textbox .textbox{
  margin-top: 0;
}
.hackathon .hacktext .sponsors .table{
  overflow-x: scroll;
}


.faqsection .faqbox{
  width:100%;
  padding-top: 1rem;
}

.faqsection .faqbox .vector{
  height:1px;
}
.faqsection .faqbox .text{
  flex-wrap: wrap;
  flex-direction: column;
}
.faqsection .faqbox .text button{
  width:200px;
  height: 70px;
}
.faqsection .faqbox .textbox{
  width: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  height:400px;
  padding: 0.5rem;
  margin-top: 0;
  font-size:1.5rem;

}

.faqsection .massagebox{
  width: 90%;
  margin-top:  
}
.faqsection .massagebox .box{
  width: auto; 
}

.faqsection .massagebox .box .text{
  padding: 10px 20px;
}
.faqsection .massagebox .box .text h1{
  font-size: 1rem;
}

.faqsection .massagebox .box .ptag{
  padding: 10px 20px;
}

.faqsection .box1 .text{
  padding: 10px 20px;
  font-size: 1rem;
}



footer{
  height:auto;
  gap:2rem;
}

footer .header{
  margin-top: 1rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 2rem;
}

footer .header .contact {
  width: auto;
}

footer .header .home{
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.4rem
}
footer .image{
  width: 300px;
  height: 200px;
  margin-top: 2rem;
}
footer .footer{
  flex-wrap: wrap;
  justify-content:center;
  gap: 1rem;
  margin-top: 0;

  padding-bottom: 2rem;
}
footer .footer .policy{
  flex-direction: column;
}
footer .footer .text{
  text-align: center;
}









}


